 <div class="topnav">
  <a href=""> <img height="17px" src="static/homeicon.png" href=""> &nbsp Click here to go back</a>
  <a class="name">KalahariLMS</a>
</div> 
<iframe id="inlineFrameExample"
    title="Inline Frame Example"
    width="100%"
    height="95%"
    src="/a/">
</iframe>
<style>
.topnav {
  background-color: #67f58d;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: 0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.name {
  float: Right;
}
</style>
